<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>MENU</title>
</head>
<body>
	<div class="box" th:fragment="frag_menu" id="menu">
		<p th:text="${userName}+さん"></p>
		<form role="form" id="logout" th:action="@{/companyManagement}" method="get" sec:authorize="hasRole('ADMIN')">
			<button type="submit" class="menuBtn">会社管理</button>
		</form>
		<form role="form" id="logout" th:action="@{/userManagement}" method="get" sec:authorize="hasRole('ADMIN')">
			<button type="submit" class="menuBtn">ユーザ管理</button>
		</form>

		<form role="form" id="logout" th:action="@{/checkDailyreport}" method="get" sec:authorize="hasRole('TRAINER')">
			<button type="submit" class="menuBtn">日報確認</button>
		</form>

		<form role="form" id="logout" th:action="@{/createDailyreport}" method="get" sec:authorize="hasRole('STUDENT')">
			<button type="submit" class="menuBtn">日報作成</button>
		</form>
		<form role="form" id="logout" th:action="@{/dailyreportHistory}" method="get" sec:authorize="hasRole('STUDENT')">
			<button type="submit" class="menuBtn">日報履歴</button>
		</form>		

		<form role="form" id="logout" th:action="@{/dailyReport}" method="get" sec:authorize="hasRole('CUSTOMER')">
			<button type="submit" class="menuBtn">日報閲覧</button>
		</form>
		<form role="form" id="passwordChange" th:action="@{/passwordChange}" method="post">
			<button type="submit" class="menuBtn">パスワード変更</button>
		</form>		
		<form role="form" id="logout" th:action="@{/logout}" method="post">
			<button type="submit" class="menuBtn">ログアウト</button>
		</form>
	</div>
</body>
</html>